*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    background-color: #FFFFFF;

}
nav{
    width: 1600px;
    height: 92px;
    padding: 16px 120px 16px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 32px;
}
nav .menu a{
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    text-decoration: none;
    color: #000000;
}
nav .button {
border-radius:  5px;    
background: #30B868;
width: 165px;
height: 45px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 10px;
padding: 12px 16px ;
text-decoration: none;
list-style-type: none;
font-weight: 16px;
font-weight: 600;
line-height: 19px;
color: white;
border: none;


}

section .banner{
    background-image: url(../assets/hero-bg.png);
    width: 1600px;
    height: 674px;
    background-repeat: no-repeat;

}
section .bannerall{
   
    width: 1360px;
    height: 379px;
    margin: 115px auto 180px;

}
section .bannera{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .banner .top{
    
    width: 1360px;
    height: 295px;
   padding: 250px 120px 180px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: auto;
   margin-bottom: 15px;
   

}

section .banner .top .btn{
    color: #30B868;
    max-width: 230px;
    height: 35px;
    padding: 8px 12px ;
    gap: 7px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    margin: auto;
    border: none;

}
section .banner .top .btn img{
    width: 15px;
    height: 15px;
}

.color-green{
    color: #30B868;
}
section .banner .top h1{
    color: white;
    width: 770px;
    height: 170px;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin: 0 auto;
    text-align: center;
}
section .banner .top p{
    color: #FFFFFF;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
section .banner .bottom{
    display: flex;
    width: 400px;
    height: 52px;
    gap: 16px;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: auto;
    

}

section .banner .bottom .btnn{
    border-radius:  5px;    
    background: #30B868;
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 16px 12px ;
    text-decoration: none;
    list-style-type: none;
    font-weight: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    
}
section .banner .bottom .btnn2{
    border-radius:  5px;    
    background: none;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 16px 12px ;
    text-decoration: none;
    list-style-type: none;
    font-weight: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    border: 1px solid;
}
#nodes{
    width: 1600px;
    height: 448px;
    background-color: #618d77d4;
    
}
 #nodes .section-heading{
    
     margin: 0 auto;
    text-align: center;
}
#nodes .section-heading h2{
    font-size: bold;
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
    color: #001931;
}
#nodes .section-heading p{
    color: #627382;
}
#nodes .nodes-box {
    display: flex;
    gap: 24px;
    width: 1360px;
    height: 300px;
     margin: 0 auto;
    text-align: center;

}
#nodes .nodes-box .nodes-card{
    color: #30B868;
    padding: 70px 24px;
    max-width: 322px;
    box-shadow: 0 6px 50px 0 #00000010;
     margin: 0 auto;
    text-align: center;

}
#nodes .nodes-box .nodes-card.logo-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #cc1212;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
   
}
#nodes .nodes-box .nodes-card.logo-circle img{
    width: 26px;
    height: 26px;
    object-fit: contain;
}

.nodes-card img{
    max-width: 32px;
    margin-bottom: 30px;
}
.nodes-card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;

}
nodes-card p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;

}
#brain{
    width: 1600px;
    height: 840px;
    
}
#brain .brain-content{
    width: 1360px;
    height: 600px;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}
#brain .brain-content .image img{
    width: 500px;
    height: 500px;
    
}
#brain .brain-content .brain-text{
    width: 600px;
    height: 400px;
    margin: auto;
}
#brain .brain-content .brain-text .brain-top h4{
    color: #30B868;
    margin-bottom: 10px;
}
#brain .brain-content .brain-text .brain-top h1{
    color: #001931;
    margin-bottom: 10px;
}
#brain .brain-content .brain-text .brain-top p{
    color: #627382;
    margin-bottom: 25px;
}
#brain .brain-content .brain-text .brain-down{
    align-items: center;
    justify-content: center;
}
#brain .brain-content .brain-text .brain-down p{
    margin-bottom: 6px;

}
#brain .brain-content .brain-text .brain-down p img{
    width: 15px;
    height: 15px;
}
#clear{
   
    width: 1600px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
#clear .clearinfo{
   
    width: 1360px;
    height: 385px;
    margin: 0 auto;
    background-color: rgba(247, 246, 242, 1);
}
#clear .clearinfo .info-top{
     width: 1280;
     height: 225px;
     margin: 80px 40px 190px;
     
}
#clear .clearinfo .info-top h2{
    color: #001931;
    font-size: 40px;
    font-style: Bold;
    text-align: center;
    margin-bottom: 7px;
}
#clear .clearinfo .info-top p{
    color: #627382;
    font-size: 16px;
    font-style:normal;
    text-align: center;
    margin-bottom: 30px;
}
#clear .clearinfo .info-top button{
    
    display: flex;
    width: 150px;
    height: 40px;
    gap: 16px;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: auto;
   margin-bottom: 10px;
   color: #FFFFFF;
   background-color: #30B868;
   border-radius: 5px;
}
#clear .clearinfo .info-down{
    
}
#section .footer{
    color: #001931;
    background-color: #001931;;
    width: 1600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
#footer .foot{
    
    background-color: #001931;
    width: 1600px;
    height: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    padding: 120px 120px 30px 120px;
}
#footer .foot .last{
    justify-content: center;
    align-items: center;
  
}

#footer .foot .last h5{
    color: #FFFFFF;
    margin-right: 70px;
    display: flex;
    flex-direction: ;
    
}
#footer .down{
    
    color: #FFFFFF;
    background-color: #001931;
    width: 1600px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items:center;
    
    
}
 #footer .foot .last .logo-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}





