*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    background-color: #FFFFFF;

}
nav{
    width: 1600px;
    height: 92px;
    padding: 16px 120px 16px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 32px;
}
nav .menu a{
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    text-decoration: none;
    color: #000000;
}
nav .button {
border-radius:  5px;    
background: #30B868;
width: 165px;
height: 45px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 10px;
padding: 12px 16px ;
text-decoration: none;
list-style-type: none;
font-weight: 16px;
font-weight: 600;
line-height: 19px;
color: white;
border: none;


}
/* nav .button{
    list-style-type: none;
    border: 5px;
} */